/*==========GENERAL===========*/

html {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    font-size: 16px;
    background: aliceblue
}

li {
    list-style-type: none; 
   }

ul {
    padding-left: 0;
   }

body {
    margin: 0px;
}

a {
    text-decoration: none;
}











/*==========HEADER===========*/

header {
    color: aliceblue;
    padding: 20px;
    margin: 0px 0px 10px 0px ;
    background: linear-gradient(155deg, rgba(252,0,255,1) -5%, rgb(5, 5, 82) 25%, rgb(5, 5, 82) 75%, rgba(0,18,255,1) 110%);
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
}


#navhead {
    background:rgba(39, 39, 39, 0.6);
    color: aliceblue;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    text-transform: uppercase;
    border-radius: 8px;
}

#logotext {
    text-align: center;
    width: 250px;
    display: flex;
    font-size: 42px;
    font-style: bold;
    font-weight: 900;
    color: aliceblue;
}

#byArtem {
    font-size: 12px;
}


#menu {
    list-style: none;
    display: flex;
    font-style: bold;
    margin: 0px;
    padding: 0px;
}

#menu li{
    margin: 0px;
    padding: 0px 40px;
}

#menu a{
    color: aliceblue;
    font-size: 20px;
}

#menu a:hover {
    color: aliceblue;
    font-size: 20px;
    color: rgba(253, 110, 255, 0.699);
}


#mainhead {
    display: flex;
}


#logomain {
    margin: 30px 50px;
    height: 200px;
}

#this-year-team {
    height: 200px;
    margin: 30px 85px;
    display: flex;
    background-color: aliceblue;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

#first-team-text {
    padding: 15px;
    color: black;
}















/*========== WINNERS PART===========*/


.new-win-team img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.new-win-team {
    margin: 0px 0px;
    color: black;
    background-color: aliceblue;
    padding:0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.win-team img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* .win-team img:hover {
    zoom: 1.05;
} */


.win-team {
    margin: 0px 0px;
    background-color: aliceblue;
    padding:0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

#win-teams {
    display: grid;
    grid-template-columns: 300px 300px 300px 400px;
    grid-template-rows: 300px;
    gap: 30px 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}

#win-teams li:nth-of-type(4) {
    background-color: aqua;
}

#central-block {
    color: aliceblue;
    padding: 20px;
    margin: 0px 0px 10px 0px ;
    background: linear-gradient(155deg, rgba(252,0,255,1) -5%, rgb(5, 5, 82) 25%, rgb(5, 5, 82) 75%, rgba(0,18,255,1) 110%);
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
}







/*==========SECOND PART===========*/








/*==========Footer===========*/

#footer {
    margin: 0px;
}

#footer-image {
    height: 250px;
}

#footer-image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

